<!-- Lista de Produtos -->
<div *ngFor="let produto of produtos" class="produto-card">
  <h3>{{ produto.name }}</h3>
  <p>{{ produto.description }}</p>
  <p>Price: {{ produto.price }}</p>
  <p>Quantity: {{ produto.quantity }}</p>

  <!-- Botões de Ação -->
  <div class="action-buttons">
    <button (click)="editProduto(produto)">Editar</button>
    <button (click)="deleteProduto(produto.id)">Excluir</button>
  </div>
</div>

<!-- Formulário para Adicionar/Editar Produto -->
<div class="produto-form">
  <h2>{{ editing ? 'Editar Produto' : 'Adicionar Produto' }}</h2>
  <form (ngSubmit)="submitForm()">

    <label for="name">Nome:
      <input type="text" id="name" name="name" [(ngModel)]="produtoForm.name" required />
    </label>

    <label for="description">Descrição:
      <textarea id="description" name="description" [(ngModel)]="produtoForm.description" required></textarea>
    </label>

    <label for="price">Preço:
      <input type="number" id="price" name="price" [(ngModel)]="produtoForm.price" required />
    </label>

    <label for="quantity">Quantidade:
      <input type="number" id="quantity" name="quantity" [(ngModel)]="produtoForm.quantity" required />
    </label>

    <button type="submit">{{ editing ? 'Editar' : 'Adicionar' }}</button>
    
  </form>
</div>